/* Write your code here. */
.total-container {
  background-image: linear-gradient(to right, #1d976c 0%, #93f9b9 107%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.letters-calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.letters-calculator-image {
  width: 100%;
  order: 0;
}
.heading {
  text-align: center;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}
.input-phrase-container {
  display: flex;
  flex-direction: column;
}

.label {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: bold;
}

.letters-input {
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 8px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  border: 1px solid #e4e7eb;
  border-radius: 4px;
  outline: none;
}

.letters-count {
  background-color: #ffffff;
  align-self: center;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
  color: #219a6f;
  margin-top: 35px;
  padding: 20px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 10px;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 45px;
  }
  .letters-input {
    width: 350px;
  }
}

@media screen and (min-width: 992px) {
  .letters-calculator-container {
    flex-direction: row;
  }
  .calculator-container {
    align-items: flex-start;
    order: 0;
  }
  .heading {
    text-align: start;
    font-size: 50px;
  }
  .letters-count {
    align-self: start;
    padding: 25px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .letters-calculator-image {
    width: 550px;
    order: 1;
  }
}

@media screen and (min-width: 1200px) {
  .letters-count {
    padding: 30px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .letters-calculator-image {
    width: 700px;
  }
}
